*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/*/release/
app/*/debug/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
.externalNativeBuild
.cxx/
vcs.xml
*.hprof
/.idea/inspectionProfiles/
/.idea/
